* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 90svh;
}

.container {
  width: 80svw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
