:host {
  width: 95svw;
  overflow-x: auto;
  overflow-y: visible;
  padding: 10px;
}

.table-container {
  max-width: 95svw;
  min-width: fit-content;
}

.table {
  display: table;
  margin-inline: auto;
}
