<ng-template #planetItem let-planet='planet'>
    <mat-card class="planet-card">
      <mat-card-header>
        <mat-card-title><h2 class="planet-card-title">{{planet.name}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Население: {{planet.population}}</p>
        <p>Климат: {{planet.climate}}</p>
        <p>Почва: {{planet.terrain}}</p>
      </mat-card-content>
    </mat-card>
</ng-template>


<mat-list>
  <mat-form-field class="search">
    <mat-label>Название планеты</mat-label>
    <input #planetSearch (change)="search(planetSearch.value)" matInput/>
  </mat-form-field>

  <mat-list>
    <mat-card *ngIf="loading" class="planet-card loader" [ngStyle]="{position: 'relative'}">
      <app-loader [loading]="loading"/>
    </mat-card>

    <ng-container *ngFor="let planet of (planetsList$ | async)?.results">
      <p [routerLink]="[planet.id]">
        <ng-container *ngTemplateOutlet="planetItem; context:{planet: planet}"/>
      </p>
    </ng-container>
  </mat-list>

  <mat-paginator pageSize="10" [length]="planetsCount"
                 (page)="getPlanets($event.pageIndex+1, planetSearch.value)">

  </mat-paginator>

</mat-list>
