<app-modal [(showModal)]="showModal">
  <p>Вывести на экран минимальное и максимальное значение из объекта
    obj = {{obj | json}}</p>
  <p><b>Минимальное: <span>{{objMin}}</span> Максимальное: <span>{{objMax}}</span></b></p>
  <button (click)="toggleModal()">Закрыть</button>
</app-modal>


<form class="table-form box-shadow">
  <label>
    Зебра:
    <input class="table-form-zebra table-form-input" name="zebra" [(ngModel)]="tableZebra" type="checkbox"/>
  </label>
  <label>
    Строк:
    <input class="table-form-rows table-form-input" name="rows" [(ngModel)]="tableRowsCount" type="number"/>
  </label>
  <label>
    Столбцов:
    <input class="table-form-cols table-form-input" name="cols" [(ngModel)]="tableColumnsCount" type="number"/>
  </label>
  <div class="button-container">
    <button class="table-form-button" (click)="changeTable()">Применить</button>
    <button class="table-form-button" (click)="toggleModal()">Показать задание с obj</button>
  </div>
</form>

<app-table [items]="items" [zebra]="tableZebra"/>

<div class="output-container box-shadow">
  <p class="output">Вы нажали на: <span tableOutput></span></p>
</div>


